@page "/Adults"
@using Hand_In_2.Data
@using Hand_In_2.Data.Impl
@using Hand_In_2.Data.Model
@inject IAdultsService AdultsService
@inject NavigationManager NavigationManager
@inject AppDataToUpdateAdult AppDataToUpdateAdult
<h3>Adults</h3>
<p>
    Filter by user First Name: <input type="text" @oninput="@((arg) => FilterByFirstName(arg))" style="width: 50px"/>
</p>
<p>
    Filter by user Last Name: <input type="text" @oninput="@((arg) => FilterByLastName(arg))" style="width: 50px"/>
</p>
<p>
    Input min age : <input type="text" @oninput="@((arg) => FilteredByMinAge(arg))" style="width: 50px"/>
</p>
<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hair color</th>
        <th>Eye color</th>
        <th>Age</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Sex</th>
        <th>JobTitle</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in adults)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.HairColor</td>
            <td>@item.EyeColor</td>
            <td>@item.Age</td>
            <td>@item.Weight</td>
            <td>@item.Height</td>
            <td>@item.Sex</td>
            <td>@item.JobTitle</td>
            <td>
                <button @onclick="@(() => RemoveAdult(item.FirstName, item.LastName))">
                    <i class="oi oi-trash" style="color: red"/>
                </button>
            </td>
            <td>
                <button @onclick="@(() => UpdateAdult(item.FirstName, item.LastName))">
                    Update
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private IList<Adult> adults = new List<Adult>();
    private string filterByFirstName = "", filterByLastName = "", filterByMinaAge = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            adults = await AdultsService.getAllAdults();
            
        }
        catch (Exception ex)
        {
            Console.WriteLine("Shit happened here");
        }
       
    }

    private async Task RemoveAdult(string firstName, string lastName)
    {
      
        await AdultsService.removeAdult(firstName, lastName);
        adults = await AdultsService.getAllAdults();
    }

    private async Task UpdateAdult(string firstName, string lastName)
    {
        AppDataToUpdateAdult.adult = adults.First(t => t.FirstName.Equals(firstName) && t.LastName.Equals(lastName));
        NavigationManager.NavigateTo("/updateAdult");
    }

    private async Task FilterByFirstName(ChangeEventArgs changeEventArgs)
    {
        filterByFirstName = changeEventArgs.Value.ToString();
        await ExecuteFilter();
    }

    private async Task ExecuteFilter()
    {

        if (int.TryParse(filterByMinaAge, out int i))
        {
            IList<Adult> all = await AdultsService.getAllAdults();
            adults = all.Where((t => t.FirstName.StartsWith(filterByFirstName, StringComparison.OrdinalIgnoreCase) && (t.LastName.StartsWith(filterByLastName, StringComparison.OrdinalIgnoreCase) && (t.Age >= Int32.Parse(filterByMinaAge))))).ToList();
        }
        
        else
        {
            IList<Adult> all = await AdultsService.getAllAdults();
            adults = all.Where((t => t.FirstName.StartsWith(filterByFirstName, StringComparison.OrdinalIgnoreCase) && (t.LastName.StartsWith(filterByLastName, StringComparison.OrdinalIgnoreCase)))).ToList();

        }
    }

    private async Task FilterByLastName(ChangeEventArgs changeEventArgs)
    {
        filterByLastName = changeEventArgs.Value.ToString();
        await ExecuteFilter();
    }
    

    private async Task FilteredByMinAge(ChangeEventArgs changeEventArgs)
    {
        filterByMinaAge = changeEventArgs.Value.ToString();   
       await ExecuteFilter();
    }

}